//
// Color definitions
//
$white: #FFFFFF;
$black: #000000;
$light-gray: #CCCCCC;


//
// Design variables
//
$header-height: 50px;
$footer-height: 50px;
$copyright-color: $white;
$copyright-bg: $black;
